<!DOCTYPE html>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="jumbotron">
        <h1>Welcome To Accessibilty Remediation</h1>
        <p class="lead">Click On Any of the Accessibilty Remediation Process form PDF/Office/Html Tab</p>

    </div>
